body {
color:white
}

.choice-container {
    display: flex;
    margin-bottom: 1rem;
    width: 50%;
    border-radius: 4px;
    background: rgb(20, 93, 255);
    font-size: 1.5rem;
    min-width: 80px;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow:0 0.5rem 1.5rem 0 rgba(6,105,250, 0.5);
    transform: scale(1.02);
    transform: transform 100ms;


}

.choice-prefix {
    padding: 1rem 2.5rem;
    color:white;
}

.choice-text {
    padding: 1rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(11,222,37)0%, rgb(33, 223,100 )100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(252, 7, 19)0%, rgb(230, 3, 22)100%);
}

/*Heads up Display*/

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(12, 223,37);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;

}

#progressBarFull {
    height: 100%;
}

@media screen and(max-width: 768px;){
    .choice-container {min-width: 40rem;}
}
    
